#header{
    text-align:center;
    padding:20px;
    background:#e4e4e4;
}
#oval { 
    border: 2px solid black;
    border-radius: 200px;
    height: 300px; 
    }
    
    .buttons {
        padding-top:230px;
         }
         .women
         {
             border: 4px solid #000066;
             background-color: Transparent;
         }
         .men {
             border: 4px solid #000066;
             background-color: Transparent;
         }